{% extends 'base.html.twig' %}

{% block title %} {{ app.session.get("setting").siteName }} | Accueil{% endblock %}

{% block body %}

<div class="container-fluid text-center my-5">
    {% if app.user %}
        <h2 class="mb-5">Bienvenue 
            <span class="rounded {{ is_granted('ROLE_ADMIN') ? 'bg-danger' : 'bg-primary' }} px-2 pb-1 text-light position-relative">{{ app.user.pseudo }}
            {% if is_granted('ROLE_ADMIN') %}
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-secondary" style="font-size: 11px;">admin</span>
            {% endif %}
            </span>
        </h2>
        <p class="h5 py-5 rounded border border-secondary bg-light custom-margin">
            Votre application est prête à enregistrer de nouvelles tâches. Evitez les trous de mémoire et utilisez votre '{{ app.session.get("setting").siteName }}' 
            pour éviter d'oublier d'imporantes tâches dans votre journée !</p>
        <img class="rounded shadow my-5" src="assets/images/avatar/{{ app.user.avatar }}" style="width: 250px;" onerror="this.onerror=null; this.src='assets/images/avatar/defaut.jpg';">
    {% else %}
        <h2 class="mb-5">Bienvenue <span class="rounded bg-dark px-2 pb-2 text-light">Visiteur</span></h2>
    {% endif %}
    </br>
    <a href="{{ path('add_list') }}" class="btn btn-outline-primary my-5 {{ not app.user ? 'disabled' : '' }}">Ajouter une liste</a>
</div>

{% endblock %}
