{% extends 'base.html.twig' %}

{% block title %} {{ app.session.get("setting").siteName }} | Accueil{% endblock %}

{% block body %}

<div class="container-fluid text-center my-5">
    {% if app.user %}
        <h2 class="mb-5">
            <img class="avatar rounded shadow my-5" src="uploads/images/{{ app.user.avatar }}" onerror="this.onerror=null; this.src='assets/images/avatar/defaut.jpg';">
            Bienvenue 
            <span class="rounded {{ is_granted('ROLE_ADMIN') ? 'bg-danger' : 'bg-primary' }} px-2 pb-1 text-light position-relative">{{ app.user.pseudo }}
                {% if is_granted('ROLE_ADMIN') %}
                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-secondary" style="font-size: 11px;">admin</span>
                {% endif %}
            </span>
        </h2>
    {% else %}
        <h2 class="mb-5">Bienvenue <span class="rounded bg-dark px-2 pb-2 text-light">Visiteur</span></h2>
    {% endif %}
    <p class="h5 py-5 rounded border border-secondary bg-light custom-margin-slogan">
        Votre application favorite pour planifier vos tâches. Evitez les trous de mémoire et utilisez '{{ app.session.get("setting").siteName }}' 
        pour éviter d'oublier d'imporantes tâches à réaliser dans votre journée !
    </p>
    <img class="homelogo my-3" src="assets/images/setting/{{ app.session.get("setting").homeLogo  }}">
    
    {% if app.user %}
        <div class="mt-3 pt-3 border-top custom-margin-nbt">
            <p>Tâche(s) en cours: <span class="bg-danger rounded-pill px-2 py-1">{{ nblstInProgress|length }}</span></p>
            <p>Tâche(s) terminée(s): <span class="bg-success rounded-pill px-2 py-1">{{ nblstDone|length }}</span></p>
            <p>Nombre total de tâche(s): <span class="bg-info rounded-pill px-2 py-1">{{ nblst|length }}</span></p>
        </div>
    {% endif %}
    </br>
</div>

{% endblock %}

